<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzitxx.mapper.ShopGoodsAttrMapper">
<!--表的列  -->
<sql id="shopAttr">
goods_id,cat_id,attr_id,attr_value,is_del,created_time,updated_tiime
</sql>
<!-- 查询所有商品属性信息/根据商品id回显属性信息 -->
<select id="findAll" resultMap="resultMap" parameterType="map">
select <include refid="shopAttr"></include> from shop_goods_attr
<where>
<if test="goodsId!=null">goods_id=#{goodsId}</if>
</where>
</select>
<!-- 添加商品属性信息 -->
<insert id="addAttr" parameterType="com.hzitxx.entity.ShopGoodsAttr"> 
insert into shop_goods_attr(goods_id,cat_id,attr_id,attr_value,is_del,created_time)
VALUES(#{goodsId},#{catId},#{attrId},#{attrValue},#{isDel},#{createdTime})
</insert> 
<!--根据商品id修改商品属性信息 -->
 <update id="updateAttr" parameterType="com.hzitxx.entity.ShopGoodsAttr">
update shop_goods_attr
<set> 
<if test="catId!=null ">cat_id=#{catId},</if>
<if test="attrId!=null">attr_id=#{attrId}</if>
<if test="attrValue!=null">attr_value=#{attrValue}</if>
<if test="isDel!=null">is_del=#{isDel}</if>
<if test="updatedTiime!=null">updated_tiime=#{updatedTiime}</if>
</set>
where goods_id=#{goodsId}
</update>  
<!--根据商品id删除商品属性信息  -->
 <delete id="deleteAttr" parameterType="Integer">
delete from shop_goods_attr where goods_id=#{goodsId}
</delete>  
<!--封装集  -->
<resultMap id="resultMap" type="com.hzitxx.entity.ShopGoodsAttr">
<id column="goods_id" property="goodsId" />
<result column="cat_id" property="catId" />
<result column="attr_id" property="attrId" />
<result column="attr_value" property="attrValue" />
<result column="created_time" property="createdTime" />
<result column="updated_tiime" property="updatedTiime" />
</resultMap>
</mapper>