<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzitxx.mapper.mmodoule.ShopAdressMapper">
<!-- 根据id查询 -->
<select id="findOne" resultMap="resultMap" parameterType="integer">
select <include refid="sql"></include> from shop_address where id=#{id} 
</select>
<!-- 分页查询 数据-->
<select id="findAdress" resultMap="resultMap" parameterType="map">
select <include refid="sql"></include> from shop_address
<!-- 查询条件 -->
 <where>
 <if test="memberId!=null">
   member_id=#{memberId}
 </if>
 <if test="memberName!=null">
 and member_name=like concat(#{memberName},'%')
 </if>
 </where>
</select>
<!-- 增加 -->
<insert id="addAdress" parameterType="com.hzitxx.entity.ShopAddress">
insert into shop_address (member_id,member_name,province_id,city_id,district_id,full_region,address,
 tel_number,post_code,is_default) values (#{memberId},#{memberName},#{provinceId},
 #{cityId},#{districtId},#{fullRegion},#{address},#{telNumber},#{postCode},#{isDefault})
</insert>
<!-- 编辑 -->
<update id="updateAdress" parameterType="com.hzitxx.entity.ShopAddress">
update shop_address 
<set>
 <if test="memberId!=null">
 member_id=#{memberId},
 </if>
 <if test="memberName!=null">
 member_name=#{memberName},
 </if>
 <if test="provinceId!=null">
 province_id=#{provinceId},
 </if>
 <if test="cityId!=null">
 city_id=#{cityId},
 </if>
 <if test="districtId!=null">
 district_id=#{districtId},
 </if>
 <if test="fullRegion!=null">
 full_region=#{fullRegion},
 </if>
 <if test="address!=null">
 address=#{address},
 </if>
 <if test="telNumber!=null">
 tel_number=#{telNumber},
 </if>
 <if test="postCode!=null">
 post_code=#{postCode},
 </if>
 <if test="isDefault!=null">
 is_default=#{isDefault}
 </if> 
</set>
 where id=#{id}
</update>
<!-- 删除 -->
<delete id="deleteAdress" parameterType="com.hzitxx.entity.ShopAddress">
delete from shop_address where id=#{id}
</delete>
<resultMap type="com.hzitxx.entity.ShopAddress" id="resultMap">
<id column="id" property="id"/>
<result column="member_id" property="memberId"/>
<result column="member_name" property="memberName"/>
<result column="province_id" property="provinceId"/>
<result column="city_id" property="cityId"/>
<result column="district_id" property="districtId"/>
<result column="full_region" property="fullRegion"/>
<result column="address" property="address"/>
<result column="tel_number" property="telNumber"/>
<result column="post_code" property="postCode"/>
<result column="is_default" property="isDefault"/>
</resultMap>
<sql id="sql">
 id,member_id,member_name,province_id,city_id,district_id,full_region,address,
 tel_number,post_code,is_default
</sql>
</mapper>