<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzitxx.mapper.ShopRoleMapper">
<!--表的列  -->
<sql id="shopRole">
role_id,role_name,role_description,created_time,created_by,updated_time,updated_by,is_del
</sql>
<!--查询所有角色信息/根据角色id回显角色信息/根据角色名称实现搜索功能 -->
<select id="findAll" resultMap="resultMap" parameterType="map">
select <include refid="shopRole"></include> from shop_role
<where>
<if test="roleId!=null">role_id=#{roleId}</if>
<if test="roleName!=null">role_name=#{roleName}</if>
</where> 
</select>
<!--增加角色信息  -->
<insert id="addRole" parameterType="com.hzitxx.entity.ShopRole">
insert into shop_role(role_name,role_description,created_time,created_by,is_del) 
VALUES(#{roleName},#{roleDescription},#{createdTime},#{createdBy},#{isDel})
</insert>
<!-- 根据角色id编辑角色信息 -->
<update id="updateRole" parameterType="com.hzitxx.entity.ShopRole">
update shop_role 
<set>
<if test="roleName!=null">role_name=#{roleName},</if>
<if test="roleDescription!=null">role_description=#{roleDescription},</if>
<if test="updatedTime!=null">updated_time=#{updatedTime},</if>
<if test="updatedBy!=null">updated_by=#{updatedBy}</if>
</set>
where role_id=#{roleId}
</update>
<!-- 批量删除角色信息 -->
<delete id="deleteRole" parameterType="list">
delete from shop_role where role_id in 
<foreach collection="list" item="roleId" open="(" separator="," close=")" >
#{roleId}
</foreach>
</delete>
<resultMap type="com.hzitxx.entity.ShopRole" id="resultMap">
<id column="role_id"  property="roleId" />
<result column="role_name" property="roleName"/>
<result column="role_description" property="roleDescription"/>
<result column="created_time" property="createdTime"/>
<result column="created_by" property="createdBy"/>
<result column="updated_time" property="updatedTime"/>
<result column="updated_by" property="updatedBy"/>
<result column="is_del" property="isDel"/>
</resultMap>
</mapper>